/* Styles everything */
* {
    margin: 0;
    padding: 0;
}

/* Styles the body */
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
    background-color: #EEE;
}

/* Styles any screen this size */
@media screen and (min-width: 767px)  {
    
    /* Styles the nav button for mobile */
    #nav-mobil-btn {
        z-index: 100000;
        display: block;
        position: fixed;
        width: 15vw;
        min-width: 170px;
        max-width: 200px;
        height: 15vw;
        min-height: 170px;
        max-height: 200px;
        margin: 2.5vw;
        border-radius: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        transition: .3s;
    }

    /* Changes your pointer to cursor when hovering over it */
    #nav-mobil-btn:hover {
        cursor: pointer;
    }

    #nav-mobil-btn .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
    }

    /* Styles the lines in the button */
    .line {
        display: block;
        position: relative;
        width: 50%;
        height: 5%;
        margin: 6%;
        background-color: #EEE;
        transition: .3s;
    }

    .toggle .one {
        transform: translateY(2.9vw) rotate(45deg);
    }

    .toggle .two {
        width: 0;
        opacity: 0;
    }

    .toggle .three {
        transform: translateY(-2.9vw) rotate(-45deg);
    }

    /* Styles the nav menu for mobile */
    #nav-menu {
        z-index: 90000;
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;
        width: 100vw;
        height: 100vh;
        left: -100vw;
        margin-top: 18vw;
        font-size: 6vw;
        background-color: black;
        transition: .3s;
    }

    #nav-menu .nav-wrap {
        display: block;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    /* Styles the nav buttons the mobile nav menu */
    #nav-menu a {
        display: inline-block;
        -webkit-user-drag: none;
        text-decoration: none;
        color: #EEE;
        text-transform: uppercase;
    }

    #nav-menu a::after {
        display: block;
        content: '';
        width: 0;
        height: 2px;
        background: rgb(255, 255, 255);
        transition: .3s;
    }

    #nav-menu a:hover::after {width: 100%;}

    #nav-menu a:focus::after {width: 100%;}

    #nav-menu ul li {
        margin-top: 7.5vw;
        margin-left: 15.6vw;
        list-style-type: none;
    }

    #nav-menu ul ul li {
        margin-top: 7.5vw;
    }

    #nav-menu li:hover {cursor: pointer;}

    /* Styles the drop button and drop menu in the mobile nav menu */
    #nav-menu .drop-menu-btn {
        position: relative;
        left: -4vw;
    }

    #nav-menu .drop-menu-btn img {
        position: relative;
        left: -1.5vw;
        transition: .2s;
    }

    .drop-menu {
        height: 0;
        overflow: hidden;
    }
    
    /* Styles the icons in the mobile nav menu */
    #nav-menu-icons {
        z-index: 95000;
        display: flex;
        position: fixed;
        left: -100%;
        flex-direction: row;
        justify-content: left;
        width: 100vw;
        height: 19vw;
        background-color: black;
        transition: .3s;
    }

    #nav-menu-icons img {height: 10vw;}

    #nav-menu-icons a {
        width: 10%;
        height: 50%;
        border-radius: 150%;
        margin-top: 6vw;
        margin-right: 6vw;
    }

    /* Styles the website pages */
    .page {
        width: 100vw;
        height: 0vh;
        transition: 1s;
    }

    /* Styles the website page titles */
    .page-title {
        font-size: 10vw;
        font-family: 'ADLaM Display';
        text-align: center;
        color: #EEE;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
    }

    .page-title .wrapper {
        display: block;
        width: 100%;
        padding-top: 24vw;
        padding-bottom: 24vw;
        background-color: rgb(0, 0, 0, 0.4);
    }

    /* Styles any main text in any website page */
    .page-text {
        width: 76vw;
        padding: 12vw;
        font: 5vw 'Amiko';
        text-align: center;
        overflow: hidden;
        margin-bottom: -1px;
        color: black;
        background-color: #EEE;
    }

    /* Styles any continue button */
    .continue-btn {
        display: flex;
        left: 0px;
        width: 100vw;
        height: 20vw;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        background-color: #EEE;
        transition: .3s;
    }

    .continue-btn input {
        width: 50%;
        height: 40%;
        line-height: 40%;
        font: 4vw 'Amiko';
        border: none;
        border-radius: 2vw;
        overflow-x: hidden;
        color: #EEE;
        background-color: black;
        transition: .3s;
    }

    .continue-btn input:hover {
        width: 52%;
        height: 42%;
    }

    /* This styles the programs I knowon the about me webpage */
    #programs-i-know {
        width: 80vw;
        padding: 10vw;
        padding-bottom: 3vw;
        font: 5vw 'Amiko';
        color: #EEE;
        background-color: black;
    }

    #programs-i-know .item {
        display: flex;
        height: 12vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #programs-i-know .item u {width: 100%;}

    #programs-i-know span {width: 50%;}

    #programs-i-know .left {text-align: left;}

    #programs-i-know .right {text-align: right;}

    /* Styles beginner colors */
    #programs-i-know .beginner {
        color: rgb(255, 0, 0, 0.8);
        text-shadow: 1px 1px 5px rgb(255, 0, 0, 0.5);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    }

    /* Styles novice colors */
    #programs-i-know .novice {
        color: rgb(255, 204, 0, 0.8);
        text-shadow: 1px 1px 5px rgb(255, 204, 0, 0.5);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    }

    /* Styles intermediate colors */
    #programs-i-know .intermediate {
        color: rgb(185, 255, 46, 0.8);
        text-shadow: 1px 1px 7px rgb(185, 255, 46, 0.5);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    }

    /* Styles advanced colors */
    #programs-i-know .advanced {
        color: rgb(24, 239, 0, 0.8);
        text-shadow: 1px 1px 5px rgb(24, 239, 0, 0.5);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    }

    /* This styles the block that has the button to go to my latest project on the home webpage */
    .latest-project {
        width: 80vw;
        font: 5vw 'Amiko';
        text-align: center;
        padding: 10vw;
        color: #EEE;
        background-color: black;
    }

    /* this styles the go to latest project button on the home webpage */
    .latest-project a {
        text-decoration: none;
        color: rgb(255, 0, 89);
    }

    /* This styles any extra resouces a page may have */
    .extra-resources {
        display: flex;
        width: 80vw;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10vw;
        padding-top: 0vw;
        text-align: center;
        font: 5vw 'Amiko';
        background-color: #EEE;
    }

    .extra-resources span {
        width: 100%;
    }

    /* This styles extra resouce links */
    .extra-resources a {
        width: 100%;
        margin-top: 1vw;
        font-size: 5vw;
        color: blue;
    }

    /* Styles and code snippets in the website*/
    .code-snippet {
        display: block;
        width: 100vw;
        height: auto;
        padding-bottom: 2vw;
        justify-content: center;
        background-color: #EEE;
    }

    pre {
        display: block;
        width: 70%;
        max-width: 70%;
        min-width: 70%;
        height: auto;
        max-height: 50vw;
        min-height: 4vw;
        resize: vertical;
        padding: 3vw;
        margin-left: 12vw;
        font: 3.5vw monospace;
        overflow: auto;
        border-radius: 2vw;
        word-wrap: break-word;
        color: #EEE;
        background: black;
    }

    pre code {
        user-select: all;
        line-height: 4.5vw;
    }

    /* Colors the comments in the code snippets */
    pre .comment {
        color: rgb(110, 110, 110);
    }

    /* Colors the variables in the code snippets */
    pre .light-sky-blue {
        color: lightskyblue;
    }

    /* Colors the variables types in the code snippets */
    pre .blue-1 {
        color: rgb(36, 171, 255);
    }

    /* Colors the numbers and letters in the code snippets */
    pre .light-green {
        color: rgb(154, 241, 158);
    }

    /* Colors the code magenta */
    pre .magenta {
        color: rgb(225, 0, 255);
    }

    pre .light-magenta {
        color: rgb(255, 45, 237);
    }

    /* Colors the code lime-green */
    pre .lime-green {
        color: rgb(52, 247, 182);
    }

    /* Colors the code mellow yellow */
    pre .mellow-yellow {
        color: rgb(244, 255, 148);
    }

    /*  Styles code in sentences */
    .snippet-code {
        color: #f36d33;
        font-family: 'Lucida Grande', monospace;
        background-color: #f4f4f4;
    }

    /* This styles the text on the credit's page */
    .credits {
        display: flex;
        width: 76vw;
        padding: 12vw;
        flex-direction: row;
        flex-wrap: wrap;
        font: 5vw 'Amiko';
        overflow: hidden;
        margin-bottom: -1px;
        background-color: #EEE;
    }

    .credits span {width: 100%;}

    .credits a {color: blue;text-decoration: none;}

    .credits .left {
        text-align: left;
        padding-bottom: 1vw;
        padding-top: 1vw;
        border-top: .1em solid black;
        color: black;
    }

    .credits .right {
        text-align: right;
        padding-bottom: 1vw;
    }

    .resources {
        display: flex;
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        font: 4.5vw 'Arial';
    }

    .resources .item {
        width: 65%;
        height: auto;
        padding: 8%;
        margin-bottom: 8vw;
        border-radius: 3vw;
        color: #EEE;
        background-color: rgb(27, 27, 27);
    }

    .resources a {
        display: block;
        color: #EEE;
        font: 5vw 'Comfortaa';
        margin-bottom: 4vw;
    }

    /* Typing effect */

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .page-title .container p {
        font-size: 3rem;
        padding: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-align: center;
        overflow: hidden;
    }

    .page-title .container span.cursor {
        position: relative;
        display: inline-block;
        background-color: white;
        margin-left: 0.09rem;
        width: 3px;
        height: 10vw;
        top: 2.5vw;
        animation: blink 1s infinite;
    }

    .page-title .container span.cursor.typing {
        animation: none;
    }

    @keyframes blink {
        0%  { background-color: white; }
        49% { background-color: white; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
        100%  { background-color: white; }
    }
}
